<div class="table-responsive">
    <table class="table table-striped table-hover table-borderless table-primary align-middle">
        <thead class="table-light">
            <caption>
               <p>variables works!</p>
            </caption>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <td>
                    <!--  Veriable-->
                    course Name : {{ courseName }} <br>
                    course Duration : {{ courseDuration }} <br>
                    course Notes : {{ courseNotes }} <br>
                    course Price : {{ coursePrice }} <br>
                    is course Available? : {{ isAvailable }} <br>
                    Current Date : {{ currentDate }} <br>
                </td>
            </tr>
        </tbody>
        <tfoot>
            
        </tfoot>
    </table>
</div>

