.primary{
    color: blue;
    font-size: 32px;
}

.table{
    width: 100%;
    border-collapse: collapse;
    align-content: normal;
}

.table-tr {
    border: 1px solid black;
    padding: 10px;
    background-color: yellow;
}

.table-th, .table-td {
    border: 1px solid black;
    padding: 10px;
    background-color: blue;
}

.table-td {
    border: 1px solid black;
    padding: 10px;
    background-color: black;
}

.color-red {
    color: red;
}
.color-green {
    color: green;
}